<% @videos.each do |video| %>
  <div class="video">
    <h6>
      <span class="video-date"><%= video[:date].strftime("%B %d, %Y") if video[:date] %></span>
      <span class="video-author"><%= video[:speaker] %></span>
      <% if video[:venue] %>
        <span class="video-venue">
          <%= video[:venue] %>
          <% if video[:year] %>
            (<%= video[:year] %>)
          <% end %>
        </span>
      <% end %>
    </h6>
    <h2>
      <span class="video-title"><%= video[:title] %></span>
      <% if video[:pick] %>
        <i class="video-pick icon-star" data-toggle="tooltip" title="Picked by <%= video[:pick] %>"></i>
      <% end %>
    </h2>
    
    <% unless video[:url].blank? %>
      <% uri = URI.parse(video[:url]) %>
      <% type = File.extname(uri.path).gsub(/\./, "video/") %>
      <% movies = %w{video/mp4 video/webm} %>
      <% if movies.member?(type) %>
        <video
          class="video-js vjs-default-skin"
          controls
          preload="none"
          width="640"
          height="360"
          <% if video[:poster] %>
          poster="<%= video[:poster] %>"
          <% end %>
          src="<%= video[:url] %>">
        </video>
      <% else %>
        <%= link_to "Link to video", video[:url] %>
      <% end %>
    <% end%>
  </div>
<% end %>
